@model IEnumerable<thetaonlinestore.Models.Product>

@{
    Layout = "_LayoutPublic";
}

    <form action="/Products/index" method="post">
        <label>Search Here</label>
        <input type="text" value="" class="form-control" id="query" name="query" />
        <input type="submit" value="Search" class="btn btn-secondary form-control pb-1" />

    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="ProductsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShortDescription)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.SalePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Images)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductFeatures)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string cls = "table-success";
                        if(item.Status=="InActive")
                        {
                            cls = "table-danger";
                        }
                        <tr class="@cls" id="hide-@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Images)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductFeatures)
                            </td>
                            <td>
                                <div class="modal" id="exampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel-@item.Id">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a href="#" class="ajaxdelete" data-cid="@item.Id" data-dismiss="modal">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>
                                    @if (!string.IsNullOrEmpty(Context.Session.GetString("Role")) && (Context.Session.GetString("Role") == "Admin" || Context.Session.GetString("Role") == "Staff"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" ><span class="fa fa-pencil"></span></a>
                                    }
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn bg-secondary"><span class="fa fa-eye"></span></a>
                                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Role")) && Context.Session.GetString("Role") == "Admin")
                                        {
                                            <a href="#" data-toggle="modal" data-target="#exampleModal-@item.Id" class="btn btn-danger"><span class="fa fa-trash"></span></a>
                                        }
                                    </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
@section Scripts
{

<script>
    $(document).ready(function () {
        $('#ProductsTable').DataTable();
    });
    $('.ajaxdelete').click(function () {
    
        var deleteb = $(this);
        var deletebid = deleteb.data("cid");
        alert(deletebid);
        $.ajax({
            
            url: "/Products/deleteproduct",
            type: "post",
            data: {
                id: deletebid
            },
            success: function (result) {
                if (result == "1") {
                    $("#hide-" + deletebid).fadeOut();
                } else {
                    
                }
            },
            error: function (detail) {
                alert(detail);
            }

        });


    });


</script>



}