@model IEnumerable<thetaonlinestore.Models.SystemUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form action="/SystemUsers/index" method="post">
    <label>Search Here</label>
    <input type="text" value="" class="form-control" id="query" name="query" />
    <input type="submit" value="Search" class="btn btn-secondary form-control pb-1" />

</form>
<table class="table" id="SystemUsersTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                <label> Actions</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string cls = "table-success";
            if (!string.IsNullOrEmpty(item.Status) && item.Status == "InActive")
            {
                cls = "table-danger";
            }
            <tr class="@cls" id="hide-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <div class="modal" id="exampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-@item.Id">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...Confirmation of deletion!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="#" class="ajaxdelete" data-cid="@item.Id" data-dismiss="modal">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("Role")) && (Context.Session.GetString("Role") == "Admin" || Context.Session.GetString("Role") == "Staff"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"> <span class="fa fa-pencil"></span></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><span class="fa fa-eye mb-0"></span></a>
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("Role")) && Context.Session.GetString("Role") == "Admin")
                    {
                        <a href="#" data-toggle="modal" data-target="#exampleModal-@item.Id" class="btn btn-danger"><span class="fa fa-trash mb-0" /></a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>


@section Scripts
{

    <script>
        $(document).ready(function () {
            $('#SystemUsersTable').DataTable();
        });
    $('.ajaxdelete').click(function () {

        var deleteb = $(this);
        var deletebid = deleteb.data("cid");
        $.ajax({

            url: "/SystemUsers/deleteUser",
            type: "post",
            data: {
                id: deletebid
            },
            success: function (result) {
                if (result == "1") {
                    $("#hide-" + deletebid).fadeOut();
                } else {

                }
            },
            error: function (detail) {
                alert(detail);
            }

        });


    });


    </script>



}